# API Gateway Configuration
# ----------------------

# The port number for the API Gateway to listen on
PORT=3000

# Service URLs
# -----------
# Inventory and Catalog (IAC) service URL
IAC_URL=http://localhost:3001