# API Gateway Configuration
# ----------------------

# The port number for the API Gateway to listen on
PORT=3000

# Service URLs
# -----------
# Identity and Access (IAA) service URL
IAA_URL=http://localhost:3002
# Inventory and Catalog (IAC) service URL
IAC_URL=http://localhost:3001

# CORS allowed origins (comma-separated)
CORS_ORIGIN=http://localhost:5173