PORT=3000
DATABASE_URL=mongodb://localhost:27017/inventory-and-catalog
IAM_INTERNAL_URL=http://identity-and-access   # Azure internal DNS
JWT_ISSUER=r6-identity                         # must match IAM's JWT_ISSUER
JWT_AUDIENCE=r6-api    